/* The Modal (background) */
.modal , .modalConfirmation {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-notification ,
.confirmation-notification
{
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s step-start;
    background-color: black;
}  

.confirmation-notification {
    padding-bottom: 40px;
    border-radius: 5px;
}

.popup-notification h2 ,
.confirmation-notification h2
{
    margin-top: 0;
    color:gold;
    text-align: center;
}
.popup-notification .popup-close
{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup-notification .popup-close:hover ,
{
    color:gold;
}
.popup-notification .popup-content,
.confirmation-notification .confirmation-content
{
    text-align: center;
    max-height: 30%;
    overflow: auto;
    color: whitesmoke;
}
.popup-notification .popup-close:target, 
.confirmation-notification .confirmation-close:target 
{
    top:-100%;
    transition:all 5s step-end;
}
@media screen and (max-width: 700px){
    .align{
        width: 80%;
    }
    .popup-notification,
    .confirmation-notification{
        width: 70%;
    }
}