input[type=submit]
{
	background:#DAA520;
	padding: 2px 2px;
	border: 2px solid rgb(167, 163, 145);
	border-color: #DAA520;
	border-radius: 12px;
    color: white;
	font-weight:800;
    font-size: 11px;
    cursor: pointer;
    margin-left:20px;

}
input[type=submit]:hover
{
    background:black;
	color: #DAA520;
}
input[type=text]
{
    margin-left:auto;
}
textarea
{
    margin-left: 600px;
    border: 1px solid #888;
    box-shadow:10px 10px 10px -10px black;
}
h2
{
    text-align: center;
}
h1
{
    text-align:center;
}
@media only screen and (max-width: 768px) {
    input
    {
        margin-left: auto;
    }
    textarea
    {
        margin-left: auto;
    }
    h2
    {
        margin-left: auto;
    }
    h1
    {
        margin-left: auto;
    }
}